{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  {#<ul class="allAvailableTags">#}
  already existing Clients
  <div class="clientCollection">
    {% for client in clients %}
      <div class="client">{{ client.name }}</div>
    {% endfor %}
  </div>

  <div class="action"><p>new Client</p></div>
  <div class="clients_container">
    <form method="POST" action="{{ path('acme_client_new') }}" {{ form_enctype(form) }}>
      <div class="updateAndDelete">
        <div class="input">
          <ul>
            <li>{{ form_row(form.name) }}</li>
            <li>{{ form_row(form.pos) }}</li>
          </ul>
        </div>
      </div>
      <ul class="choice">
        {% for article in form.articles %}
          <li>{{ form_row(article) }}</li>
        {% endfor %}
      </ul>
      {{ form_rest(form) }}
      <input type="submit" value="create" class="btn btn-default pull-right" />
    </form>
  </div>
{% endblock %}

{% block customJavascript %}
  {#<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>#}
{% endblock %}