{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  <div class="clients">
    <div class="action"><p>edit Client</p></div>
  {% for key, form in forms %}
    <h2>Client</h2>
    {#{{ form_start(form) }}#}
    <form method="POST" action="{{ path('acme_client_edit') }}" {{ form_enctype(form) }}>
      {# render the article's only field: description #}
      {#{{ form_widget(form) }}#}
      <div class="updateAndDelete">
      {{ form_row(form.id) }}
      {{ form_row(form.name) }}
        <div>
          <a href="{{  path('acme_client_delete', {'id': clients[key].getId}) }}">delete client</a>
        </div>
      </div>
      </br>
      <div class="marginTop">
        {{ form_row(form.pos) }}
      </div>

      <h3>Articles</h3>
      {#<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">#}
      <ul class="articles">
        {# iterate over each existing tag and render its only field: name #}
        {% for article in form.articles %}
          <li>{{ form_row(article) }}</li>
        {% endfor %}
      </ul>
      <input type="submit" value="update" class="btn btn-default pull-right" />
      {{ form_rest(form) }}
      {#{{ form_end(form) }}#}
    </form>
  {% endfor %}
  </div>
{% endblock %}

{% block customJavascript %}
  <script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>
{% endblock %}