{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  <div class="articlesLeft">
    <h2>articles left:</h2><br>
    {% for index, arr in articlesLeft %}
      {% for  clientName, articles in arr %}
        {% for articleName, article in articles %}
          {{ article.client.name }} : {{ article.description }}<br>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
  <hr size=1>
  <div class="clients">
    {% for key, client in clients%}
      <h3>Client: {{ client.name }}</h3>
      <div class="articles">
        <h3>Articles:</h3>
        {% for article in client.articles %}
          <a href="{{ path('acme_portal_visit', {client: client.name, article: article.description}) }}">{{ article.description }}</a><br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block customJavascript %}
  {#<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>#}
{% endblock %}
