{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  {#<ul class="allAvailableTags">#}
  already existing Article
  <div class="articleWrapper">
    {% for article in articles %}
      <div class="article">{{ article.description }}</div>
    {% endfor %}
  </div>
  
  {#<input class="tag_select" type="hidden" />#}

  <div class="action"><p>new Article</p></div>
  <form method="POST" action="{{ path('acme_article_new') }}" {{ form_enctype(form) }}>
    {#{{ form_row(form.name) }}#}
    {#<input type="hidden" class="tagSelect" value="task, substring"/>#}
    {{ form_rest(form) }}
    <input type="submit" value="create" class="btn btn-default pull-right" />
  </form>
{% endblock %}

{% block customJavascript %}
  {#<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>#}
{% endblock %}