{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  already existing Articles
  <div class="articleCollection">
    {% for article in articles %}
      <div class="article">{{ article.description }}</div>
    {% endfor %}
  </div>
  
  <div class="action"><p>new Article</p></div>
    <div class="articles_container">
      <form method="POST" action="{{ path('acme_article_new') }}" {{ form_enctype(form) }}>
        <div class="updateAndDelete">
          <div class="input">
            <ul>
              <li>{{ form_row(form.description) }}</li>
              <li>{{ form_row(form.pos) }}</li>
            </ul>
          </div>
        </div>
        <h3>Tags</h3>
        <ul class="choice">
          {% for tag in form.tags %}
            <li>{{ form_row(tag) }}</li>
          {% endfor %}
        </ul>
        {{ form_rest(form) }}
        <input type="submit" value="create" class="btn btn-default pull-right" />
      </form>
    </div>
  </div>
{% endblock %}

{% block customJavascript %}
  {#<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>#}
{% endblock %}