{#{% extends 'AcmePortalBundle:Default:master.html.twig'  %}#}
{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block page %}
  already existing Articles
  <div class="articleCollection panel push-right">
    {% for article in articles %}
      <div class="tag label label-default pull-left">{{ article.description }}</div>
    {% endfor %}
  </div>
  
  <div class="action"><p>new Article</p></div>
    <div class="articles_container">
      <form method="POST" action="{{ path('acme_article_new') }}" {{ form_enctype(form) }}>
        <div class="updateAndDelete">
          <div class="input">
            <div class="group-item">
              <div>{{ form_label(form.description) }}</div>
              {{ form_widget(form.description, {'attr': {'class': 'list-group-item'}}) }}
            </div>
          </div>
        </div>
        <h3>Tags</h3>
        <div class="choice list-group">
        {% for tag in form.tags %}
          {{ form_row(tag, {'attr': {'class': 'list-group-item'}}) }}
        {% endfor %}
        </div>
        <div>
          <div>{{ form_label(form.pos) }}</div>
          {{ form_widget(form.pos, {'attr': {'class': 'list-group-item'}}) }}
        </div>
        {{ form_rest(form) }}
        <div>
          <input type="submit" value="create" class="btn btn-default -right" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block customJavascript %}
  {#<script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>#}
{% endblock %}