{#{% extends 'AcmePortalBundle:Default:master.html.twig'  %}#}
{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block page %}
  <div class="action"><p>edit Article</p></div>
  <div><a href="{{ path('acme_article_new') }}">create new Article</a></div>
  <div class="regex">
    <h2>type article to compare</h2>
    <div class="span12">
      <form action="#">
        <input class="span8" type="text"/><br>
        <input class="btn update span4" type="button" value="update" />
      </form>
    </div>
  </div>
  <div class="articles_container">
  {% for key, form in forms %}
    <div class="article">
      <form method="POST" action="{{ path('acme_article_edit') }}" {{ form_enctype(form) }}>
        <div class="updateAndDelete">
          {{ form_row(form.id) }}
          <fieldset>
            <legend><h2>Article</h2></legend>
            <label>{{ form_label(form.description) }}</label>
            {{ form_widget(form.description) }}
            <label>{{ form_label(form.pos) }}</label>
            {{ form_widget(form.pos) }}<br>
            <a class="deleteConfirm btn" href="{{  path('acme_article_delete', {'id': articles[key].getId}) }}">
              delete Article
            </a>
          </fieldset>
        </div>

        <h3>Tags</h3>
        <fieldset>
          {% for tag in form.tags %}
            <label>{{ form_label(tag) }}</label>
            {{ form_widget(tag) }}
          {% endfor %}
        </fieldset>
        <input type="submit" value="update" class="btn btn-default pull-right" />
        {{ form_rest(form) }}
      </form>  
    </div>
    
  {% endfor %}
  </div>
{% endblock %}

{% block javascript  %}
  <script type="text/javascript" src="{{ asset('bundles/acmeportal/js/articles.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>
{% endblock %}