{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  {#<link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>#}
{% endblock %}

{% block body %}
  <div class="action"><p>edit Article</p></div>
  <div><a href="{{ path('acme_article_new') }}">create new Article</a></div>
  <div class="articles_container">
  {% for key, form in forms %}
    <h2>Article</h2>
    <form method="POST" action="{{ path('acme_article_edit') }}" {{ form_enctype(form) }}>
      <div class="updateAndDelete">
        {{ form_row(form.id) }}
        <ul>
          <li>{{ form_row(form.description) }}</li>
          <li>{{ form_row(form.pos) }}</li>
          <li>
            <a class="deleteConfirm" href="{{  path('acme_article_delete', {'id': articles[key].getId}) }}">
              delete Article
            </a>
          </li>
        </ul>
      </div>
      
      <h3>Tags</h3>
      <ul class="choice">
        {% for tag in form.tags %}
          <li>{{ form_row(tag) }}</li>
        {% endfor %}
      </ul>
      <input type="submit" value="update" class="btn btn-default pull-right" />
      {{ form_rest(form) }}
      {#{{ form_end(form) }}#}
    </form>
  {% endfor %}
  </div>
{% endblock %}

{% block customJavascript %}
  <script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>
{% endblock %}