{% extends 'AcmePortalBundle:Default:master.html.twig'  %}

{% block headCss %}
  <link rel="stylesheet" href="{{ asset('bundles/sonatacore/select2/select2.css') }}"/>
{% endblock %}

{% block body %}
  {#<ul class="allAvailableTags">#}
  <div class="action"><p>new Tag</p></div>
  <div class="tagWrapper">
    {% for tag in tagList %}
      <div class="tag">{{ tag.name }}</div>
    {% endfor %}
  </div>
  {#</ul>#}

  {#<select class="tag_select">#}
    {#<option value=""></option>#}
  {#{% for tag in tagList %}#}
    {#<option value="{{ tag.shortName }}">{{ tag.name }}</option>#}
  {#{% endfor %}#}
  {#</select>#}
  
  
  {#<input class="tag_select" type="hidden" />#}
  
  <form method="POST" action="{{ path('acme_tag_new') }}" {{ form_enctype(form) }}>
    {#{{ form_row(form.name) }}#}
    {#<input type="hidden" class="tagSelect" value="task, substring"/>#}
    {{ form_rest(form) }}
    <input type="submit" value="create" class="btn btn-default pull-right" />
  </form>
{% endblock %}

{% block customJavascript %}
  <script type="text/javascript" src="{{ asset('bundles/acmeportal/js/select2Manager.js') }}"></script>
{% endblock %}